/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Alfa Slab One;
  font-size: 2rem;
}
#container {
  max-width: 1000px;
  margin: 0 auto;
  background: #ebebeb url(../img/headline.jpg) no-repeat center;
  background-size: 100%;
  background-position: top;
}
@media (max-width: 800px) {
  #container {
    width: 100%;
    background: #991c27;
  }
}
@media (max-width: 500px) {
  #container {
    background: blue;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 70px;
  background: rgba(37, 38, 39, 0.3);
}
header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
  padding: 0 20px 0 0;
}
header .logo .logo-text {
  font-size: 4rem;
  text-shadow: #ebebeb 1px 1px 0;
}
header .logo .logo-text span {
  color: #252627;
}
header .logo .logo-text span:first-child {
  color: #991c27;
}
header .main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
header .main-menu .link {
  color: #ebebeb;
  font-size: 1.4rem;
  text-shadow: #252627 1px 1px 0;
}
header .main-menu .button {
  background: rgba(37, 38, 39, 0.6);
  box-shadow: rgba(235, 235, 235, 0.35) 0px 0px 5px;
  padding: 12px 20px;
  border-radius: 7px;
  font-weight: bold;
  transition: all 0.3s;
}
header .main-menu .button:hover {
  background: rgba(37, 38, 39, 0.8);
  text-decoration: none;
  box-shadow: none;
}
header .main-menu .signup {
  background: #991c27;
  color: #ebebeb;
}
header .main-menu .signup:hover {
  background: #a21320;
  text-decoration: none;
}
.headline {
  height: 550px;
}
.headline h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 8rem;
  color: #252627;
  text-shadow: #ebebeb 3px 3px 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background: #252627;
  color: #ebebeb;
  padding: 35px 10px 50px 10px;
}
footer .box {
  width: 33%;
}
footer .box h2 {
  color: #efbf3b;
  padding: 0 0 5px 0;
}
footer .box p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 0 20px 0 0;
}
footer .box ul li {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
footer .box .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
footer .box .footer-nav .link {
  font-size: 1.4rem;
  color: #ebebeb;
  line-height: 2.6rem;
}
.headline {
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.headline .description {
  width: 30%;
  font-size: 3rem;
  font-weight: normal;
  font-family: Alfa Slab One;
  color: #ebebeb;
  line-height: 3.5rem;
  text-shadow: #252627 2px 2px 0;
  padding: 40px 0 0 0;
}
.services-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: 0 0 40px 0;
}
.services-home .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  padding: 0 10px;
}
.services-home .box img {
  width: 100%;
  border-radius: 10px;
  height: 180px;
  margin: 0 0 10px 0;
}
.services-home .box h2 {
  color: #991c27;
  margin: 0 0 5px 0;
}
.services-home .box p {
  font-weight: normal;
  font-size: 1.4rem;
  color: #252627;
  line-height: 1.6rem;
  margin: 0 0 10px 0;
  text-align: center;
}
.services-home .box .learn-more {
  background: #efbf3b;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background 0.3s;
}
.services-home .box .learn-more:hover {
  text-decoration: none;
  background: #fac430;
}
.services-home .box .learn-more:active {
  color: #991c27;
}
.customer-reviews {
  padding: 10px 10px 70px;
}
.customer-reviews .section-title {
  font-size: 3rem;
  color: #252627;
  margin: 0 0 25px 0;
  text-align: center;
}
.customer-reviews .reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.customer-reviews .reviews .review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 45%;
}
.customer-reviews .reviews .review .customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 70%;
  padding: 0 40px 0 15px;
}
.customer-reviews .reviews .review .customer-info h3 {
  font-size: 1.6rem;
  color: #991c27;
  padding: 0 0 2px 0;
}
.customer-reviews .reviews .review .customer-info .location {
  font-size: 1.2rem;
  color: #777;
  padding: 0 0 7px 0;
}
.customer-reviews .reviews .review .customer-info .comment {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6rem;
  font-style: italic;
}
.customer-reviews .reviews .review img {
  width: 30%;
  border-radius: 50%;
}
.slogan h1 {
  font-size: 2.5rem;
}
.slogan p {
  font-style: italic;
  font-size: 1.2rem;
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.services .box {
  width: 33%;
  height: 250px;
}
.services .box h2 {
  color: #efbf3b;
}
.services .box p {
  font-style: italic;
}
#contact-container {
  background: #991c27;
}
#contact-container .contact-section {
  background: #ebebeb;
}
#contact-container .contact-section .contact-heading {
  display: flex;
  align-items: center;
  background: #252627;
  color: #ebebeb;
  height: 15vh;
}
#contact-container .contact-section h1 {
  font-size: 3rem;
  padding: 50px 20px;
}
#contact-container .contact-section form {
  margin-top: 100px;
  margin-left: 20px;
  height: 100%;
  padding-bottom: 50px;
}
#contact-container .contact-section form .form-controller {
  width: 70%;
  background: white;
  border: none;
  border-bottom: 1px solid #252627;
  border-radius: 5px;
  outline: none;
  color: #252627;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
#contact-container .contact-section form input {
  height: 60px;
  padding-left: 10px;
}
#contact-container .contact-section form textarea {
  height: 200px;
  padding: 10px 10px;
}
#contact-container .contact-section form .submit {
  height: auto;
  padding: 10px 50px;
  background: #991c27;
  margin-top: 30px;
  border-radius: 10px;
  color: #f3f3f3;
  font-size: 1.5rem;
  transition: 1s;
}
#contact-container .contact-section form .submit:hover {
  background: #6e141c;
  font-size: 1.8rem;
}
#contact-container .team {
  background: #991c27;
  color: #ebebeb;
  padding: 0 20px;
}
#contact-container .team h2 {
  font-size: 2.8rem;
  padding: 50px 0;
}
#contact-container .team .team-container {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  flex-wrap: wrap;
}
#contact-container .team .team-container .member {
  background: #ebebeb;
  color: #252627;
  width: 20%;
  margin: 10px;
  height: 40%;
  border-radius: 5px;
}
#contact-container .team .team-container .member img {
  padding-top: 5px;
  width: 100%;
}
#contact-container .team .team-container .member .team-text {
  padding: 10px;
}
#contact-container .team .team-container .member .team-text p {
  font-size: 1.3rem;
  padding: 5px 0;
}
