header {
  .flex(@justifyContent: space-between);
  height: @header-height;
  background: fade(@black, 30%);

  .logo {
    text-align: center;
    width: 40%;
  }
  .main-menu {
    .flex(@justifyContent: space-around, @alignItems: center);
    width: 60%;
    .link {
      // line-height: @header-height;
      color: @white;
      font-size: 1.4rem;
    }
  }
}
