// COLORS
@red: rgb(153, 28, 39);
@white: #ebebeb;
@black: #252627;
@secondary: #efbf3b;

// FONT
@openSans: "Open Sans", sans-serif;
@alfaSlabOne: ~"Alfa Slab One";

// SIZING
@main-width: 1000px;
@header-height: 70px;

// MEDIA
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";
